/* GENERAL */
body{
    color: #3F4253;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

h3{
    font-size: 2em;
    margin-bottom: 0.2em;
}

h4{
    font-style: italic;
    margin-top: 0;
}

h5{
    font-size: 1em;
    margin: 0.2em auto;
}

/* HEADER */
.header {
    background-color: #3F4253;
    color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 1em;
}

.header__logo{
    max-height: 10rem;
    width: auto;
}

.header__name{
    margin-top: 0;
}

/* ARTICLE ( SECTION ) */


.article__wrapper{
    margin: 2em 0;
}

.article__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F4F4F4;
    width: 85%;
    margin: 1.5em auto 4em auto;
    padding-bottom: 1.5em;
    border-radius: 5px;
}

.article__image img{
    max-width: 10em;
    height: auto;
}

.article__text{
    width: 80%;
    text-align: justify;
    margin: 1em auto;
}


/* SKILL SECTION */

.article--skill{
    
    background-color: #F4F4F4;
}

.skill__content{
    margin: 2em auto;
    width: 80%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    border-radius: 0.5em;
}

.skill__icon{
    border: 0.2em solid #F4F4F4;
    border-radius: 1em;
    padding: 0.3em;
    margin: -1.5em auto 2em auto;
    width: 50px;
}

.icon--back, .content--back{

    background-color: #3F4253;
}

.icon--back > .skill__icon--img{
 width: 80%;
 height: auto;
}

.icon--front, .content--front{
    background-color: #038C94;
}

.icon--front{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.icon--extra, .content--extra{
    background-color: #4B5443;
}

.icon--extra > .skill__icon--img{
    width: 80%;
    height: auto;
   }

.skill__icon--img{
    width: 100%;
    height: 100%;
}

.skill__title{
    font-size: 1em;
}

.skill__list{
    list-style-type: none;
    padding: 0;
}

.skill__list--item{
    margin-bottom: 0.3em;
}

/* EXP SECTION */

.exp__header{
    background-color: rgb(37, 39, 49);
    border-bottom: 3px solid #3F4253;
    color: #F4F4F4;
}

.exp__header{
    position: relative;
    padding-top: 0.1em;
}

.exp__collapse{
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 40%;
}


/* EXPERIENCES */

.company__experience{
    position: relative;
    margin-top: 0;
    margin-left: 0.3em;
    border-left: 3px solid #3F4253;
}

.company__experience::before{
    position: absolute;
    content: "";
    left: -6px;
    top: 1px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #3F4253;
}

/* FOOTER */

.footer{
    background-color: #3F4253;
    color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 1em;
}
